<div style="margin-top:  50px;position: relative;
overflow: auto;"> 
<table mat-table [dataSource]="payHistoryList" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->

  <ng-container matColumnDef="payName">
    <th mat-header-cell *matHeaderCellDef>Pay Name</th>
    <td mat-cell *matCellDef="let element"> {{element.payHistoryName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="startPeriod">
    <th mat-header-cell *matHeaderCellDef>Start Period </th>
    <td mat-cell *matCellDef="let element"> {{formatDate(element.payBeginDate)}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="endPeriod">
    <th mat-header-cell *matHeaderCellDef>End Period</th>
    <td mat-cell *matCellDef="let element"> {{formatDate(element.payEndDate)}} </td>
  </ng-container>

  <ng-container matColumnDef="updatePaidStatus">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <i class="bi bi-check-lg" *ngIf="element.paid" style="color: green;"></i>
      <span (click)="updateStatus(element)" *ngIf="!element.paid"  style="cursor: pointer;">Update Status</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="bonus">
    <th mat-header-cell *matHeaderCellDef>Bonus</th>
    <td mat-cell *matCellDef="let element">
   
<button *ngIf="element.bonus == 0" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="setPayHistoryID(element.payHistoryID)">
  Add Bonus
</button>

<span *ngIf="element.bonus > 0"> ${{element.bonus}}</span>

    </td>
  </ng-container>

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="LunchIn">
    <th mat-header-cell *matHeaderCellDef> Lunch In </th>
    <td mat-cell *matCellDef="let element"> {{element.lunchStartTime}} </td>
  </ng-container>

  <ng-container matColumnDef="LunchOut">
    <th mat-header-cell *matHeaderCellDef> Lunch Out </th>
    <td mat-cell *matCellDef="let element"> {{element.lunchEndTime}} </td>
  </ng-container> -->

  <ng-container matColumnDef="totalHours">
    <th mat-header-cell *matHeaderCellDef> Hours </th>
    <td mat-cell *matCellDef="let element"> {{element.totalHours}} </td>
  </ng-container>

  <ng-container matColumnDef="payRate">
    <th mat-header-cell *matHeaderCellDef> Pay Rate </th>
    <td mat-cell *matCellDef="let element"> {{element.payRate}} </td>
  </ng-container>

  <ng-container matColumnDef="amountPaid">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let element"> {{round(element.payRate*element.totalHours)}} </td>
  </ng-container>

  <ng-container matColumnDef="paid">
    <th mat-header-cell *matHeaderCellDef>Paid</th>
    <td mat-cell *matCellDef="let element"> {{element.paid}} </td>
  </ng-container>

  

  <!-- <ng-container matColumnDef="LunchHour">
    <th mat-header-cell *matHeaderCellDef> Lunch Break </th>
    <td mat-cell *matCellDef="let element"> {{element.lunchHours}} </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Bonus</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <input matInput
                 placeholder="Amount"
                 [formControl]="bonusControl"
                 required color="accent" />
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addBonus()">Save</button>
      </div>
    </div>
  </div>
</div>